<p id="demo"></p>
<h1>Currently In Progress:</h1>
<table>
	<thead>	
		<tr>
			<th>No.</th>
			<th>Description</th>
			<th>Progress</th>
		</tr>
	</thead>

	<tbody>
		<% number = 0%>
		<% @all_tasks.each do |task| %>
			<% if task.user_id == current_user.id && task.in_progress && !task.completion %>
				<tr>
					<td><%= number += 1 %></td>
					<td><%= task.description%></td>
					<td><%= task.in_progress ? 'In Progress' : 'Pending' %></td>
					<td><%= button_to 'Plant a seed!', tomatoes_path(task_id: task.id) %></td>
					<td><button class="plant-seed-button" data-taskid="<%=task.id%>">AJAX Plant</button></td>
					<td><%= button_to 'Stop', task_path(task), method: :patch %></td>
					<td><%= button_to 'Complete', task_complete_path(task), method: :patch %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>

<h1> To-Do List:</h1>
<table>
	<thead>	
		<tr>
			<th>No.</th>
			<th>Description</th>
			<th>Progress</th>
			<th>Status</th>
		</tr>
	</thead>

	<tbody>
		<% number = 0%>
		<% @all_tasks.each do |task| %>
			<% if task.user_id == current_user.id && !task.in_progress && !task.completion %>
				<tr>
					<td><%= number += 1 %></td>
					<td><%= task.description%></td>
					<td><%= task.in_progress ? 'In Progress' : 'Pending' %></td>
					<td><%= task.completion ? 'Completed' : 'Incomplete'%></td>
					<td><%= button_to 'Start', task_path(task), method: :patch %></td>
					<td><%= button_to 'Complete', task_complete_path(task), method: :patch %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>

<h1> Completed:</h1>
<table>
	<thead>	
		<tr>
			<th>No.</th>
			<th>Description</th>
			<th>Progress</th>
			<th>Status</th>
		</tr>
	</thead>

	<tbody>
		<% number = 0%>
		<% @all_tasks.each do |task| %>
			<% if task.user_id == current_user.id && task.completion%>
				<tr>
					<td><%= number += 1 %></td>
					<td><%= task.description%></td>
					<td><%= task.in_progress ? 'In Progress' : 'Pending' %></td>
					<td><%= task.completion ? 'Completed' : 'Incomplete'%></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>



<h1>Create a new task:</h1>
<%= form_for @new_task do |form| %>
	<%= form.label :description %><br>
    <%= form.text_field :description %>
    <%= form.hidden_field :user_id, :value => current_user.id %>
   <%= form.submit 'Create Task!'%>
<% end %>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>

<script>

	let btns = document.querySelectorAll('.plant-seed-button')

	btns.forEach(function(btn) {
		btn.onclick = function(){
			console.log()
			// $('#plant-seed-button').data('taskid')

			$.ajaxSetup({
	    		headers: { 'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content') }
	  		});
			$.ajax({
			  type: "POST",
			  url: "/tomatoes",
			   data: {user_id: "<%= current_user.id %>", task_id: btn.dataset.taskid },
			})
			  .done(function() {
			  	var countDownDate = new Date().getTime() + (25*60000);
				// Update the count down every 1 second
				var x = setInterval(function() {

				  // Get todays date and time
				  var now = new Date().getTime();

				  // Find the distance between now and the count down date
				  var distance = countDownDate - now;

				  // Time calculations for days, hours, minutes and seconds
				  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
				  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
				  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
				  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

				  // Display the result in the element with id="demo"
				  document.getElementById("demo").innerHTML = minutes + "m " + seconds + "s ";

				  // If the count down is finished, write some text 
				  if (distance < 0) {
				    clearInterval(x);
				    document.getElementById("demo").innerHTML = "TIME IS UP";
				  }
				}, 1000);
			   }
			 );
		}
	})


</script>
